---
layout:
title: ADHD, ADD Resources, Help, Information and Support in Ireland
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  {% include head.html %}
  <body>
    <div class="incadds">
      {% include header.html %}
      <div class="sidebar">
        {% include sidemenu.html %}
        <p class="box">This website is dedicated to Dr. Deirdre Killelea <a href="dedicated.html">More...</a></p>
        <p class="box"> <a href="https://www.facebook.com/incadds" target="_blank">
          <img title="INCADDS on Facebook" alt="INCADDS on Facebook" src="images/facebook.png">
        </a></p>
      </div>

      <div class="content">
        <h2>Welcome...</h2>
        <p>Our main aim with this website is to take away any fear and
        uncertainty of learning of a diagnosis for either you or your child or
        if a diagnosis has not yet been made and you suspect you or your child
        might have the condition. This website can also be used as a general
        resource tool for Parents and teachers.</p>

        <ul id="index">
          <li class="first"><a href="tips-for-teachers.html"><img title="Tips for Teachers" alt="Tips for Teachers" src="images/teachertips.jpg"></a></li>
          <li><a href="tips-for-parents.html"><img title="Tips for Parents" alt="Tips for Parents" src="images/parenttips.jpg"></a></li>
        </ul>

        <br>
        <p>We hope that this information will answer any questions you might
        have. But if you have any questions not answered within this website do
        not hesitate in contacting your local GP or your childs teacher.</p>

        <p class="linker"><a href="support-groups.html">Find your local INCADDS Support Group</a></p>

        <h2>Recent News &amp; Events</h2>
        <ul id="newsul">
          <li> <a href="news.html#news_1">Parents Invited to Participate in Study</a></li>
          <li> <a href="news.html#news_2">ADHD Europe Declaration about ADHD in Girls & Women</a></li>
          <li> <a href="news.html#news_3">INCADDS Seminar - Women & Girls with ADHD Oct 16</a></li>
        </ul>
      </div>
      {% include footer.html %}
    </div>
    {% include address.html %}
  </body>
</html>
