<head>

  <title>
    {% if page.url == "/" %}
      {{ site.title }} - {{ page.title }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="ADD INCADDS Irish National Council for AD/HD Support Groups - information on every aspect of AD/HD, including diagnosis, treatment, practical advice for parents and teachers, research and resources" />
<meta name="keywords" content="INCADDS, Irish National Council for AD/HD Support Groups, ADD, attention deficit disorder, attention deficit hyperactivity disorder , treatment of ADD, add health information, mental disorders, diagnosis of ADD, AD/HD, add adhd attention deficit disorder hyperactivity behavioral therapy comorbid diagnosis education adults family kids men children adults parents teachers teens women humor medications alternative medicine college provider directory recent news relationships success stories support groups health information" />


<style type="text/css">

@import "incadds.css";

</style>

</head>
