<div class="hdr">
  <img src="images/01.jpg" alt="" title="" />

  <ul id="topmenu">
    <li class="first"><a href="index.html">Home</a></li>
    <li><a href="about-us.html">About INCADDS</a></li>
    <li><a href="news.html">News &amp; Events</a></li>
    <li><a href="support-groups.html">Support Groups</a></li>
    <li><a href="faqs.html">FAQs</a></li>
  </ul>
  <h1><a href="index.html"><img src="images/incadds-logo.gif" alt="INCADDS - The Irish National Council of ADHD/HKD Support Groups" title="INCADDS - The Irish National Council of ADHD/HKD Support Groups" /></a></h1>
</div>
