<ul id="sidemenu">
  <li class="first"><a href="what-is-adhd-add.html">What is ADHD/ADD?</a></li>
  <li><a href="what-are-the-symptoms.html">What are the symptoms?</a></li>
  <li><a href="what-to-do.html">What do you do if the symptoms are present?</a></li>
  <li><a href="add-research-resources.html">ADD Research &amp; Resources</a></li>
  <li><a href="useful-links.html">ADD Useful Links</a></li>
  <li><a href="best-practice-guidelines.html">What service to expect - Best practice guidelines</a></li>
</ul>


